.navbar__home{
    background-color: lawngreen;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    .item__home{
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
    .close{
        color: red;
    }
}